.icon-header {
  width: auto;
  display: flex;
  flex-direction: row;
  padding: 0 calc(var(--bs-modal-header-padding-x) * .5);
  /*margin: calc(-.5 * var(--bs-modal-header-padding-y)) calc(-.5 * var(--bs-modal-header-padding-x)) calc(-.5 * var(--bs-modal-header-padding-y)) auto;*/
}

.form-label {
  margin-top: 0.6rem;
  margin-bottom: .2rem;
  width: 11rem;
}

